@tailwind base;
@tailwind components;
@tailwind utilities;

.overflow-x-auto::-webkit-scrollbar {
  display: none;
}
body {
  height: -webkit-fill-available;
}
* {
  margin: 0;
  padding: 0;
}
.leaflet-container {
  z-index: 0;
}

/* style cards on the map */
.leaflet-popup-content p {
  margin: 0;
}
html {
  height: -webkit-fill-available;
}

.custom-icon div {
  @apply grid w-12 h-8 font-semibold text-gray-600 transition-all bg-white border border-gray-500 rounded-full place-items-center hover:bg-blue-400 hover:text-white;
}
.house-icon div {
  @apply grid bg-white rounded-full place-items-center w-14 aspect-square ring-8 ring-gray-200 ring-opacity-50;
}

.fade-in-out {
  opacity: 0;
  animation: fade-in 2s ease-in forwards,
    fade-out 4s 1s ease-out forwards;
}

@keyframes fade-in {
  100% {
    opacity: 1;
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.modal-fade-in {
  opacity: 0;
  animation: fade-in-modal 0.15s linear forwards,
    fade-out-modal 0.1s ease-out forwards;
}
@keyframes fade-in-modal {
  100% {
    opacity: 0.5;
  }
}
.leaflet-popup-content-wrapper{
  @apply w-64;
  border-radius: 26px !important;
}
.leaflet-popup-content{
  @apply w-full;
}