@tailwind base;
@tailwind components;
@tailwind utilities;

.overflow-x-auto::-webkit-scrollbar {
  display: none;
}
body {
  @apply min-h-screen;
}
* {
  margin: 0;
  padding: 0;
}
.leaflet-container {
  z-index: 0;
}

/* style cards on the map */
.leaflet-popup-content p {
  margin: 0;
}

.custom-icon div {
  @apply grid w-12 h-8 font-semibold text-gray-600 transition-all bg-white border border-gray-500 rounded-full place-items-center hover:bg-blue-400 hover:text-white;
}
.house-icon div {
  @apply grid bg-white rounded-full place-items-center w-14 aspect-square ring-8 ring-gray-200 ring-opacity-50;
}



